---
import '@assets/styles/global-styles.css';
import Footer from "@components/Footer.astro";

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- favicon -->
		<link rel="icon" href="/favicon.ico" sizes="any" />
		<link rel="icon" href="/icon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/manifest.webmanifest" />
		<!-- other stuff -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
    <Footer />
	</body>
</html>

<style is:global>
  p a, span a {
		@apply text-pink-600 hover:text-pink-800
	}
</style>