.services {
  background-color: rgb(151, 148, 148);
  justify-content: center;
  min-height:500px;
  text-align: center;

  .container {
    display:block;
  }

  &__journalism {
    background-color: rgb(84, 79, 90);
  }

  &__photography {
    background-color: rgb(107, 101, 116);
  }

  span {
    height: 500px;
    align-items: center;
    display: inline-flex;
  }

  
}


