.container--nav {
  background: $black;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 10;
  padding: 0 40px;
  transition: height 0.2s, background 0.2s;

  .navbar {
    position: fixed;
    width: 100%;
    align-items: flex-start;
    top: 0;
    left: 0;
    padding: 0;
    // background-color: rgb(82, 165, 197);
    display: block;
    z-index: 9;

    .content {
      // background-color: aqua;
      padding: 0 40px;
      display: flex;
      height: 80px;
      justify-content: space-between;
      transition: font-size 0.2s, height 0.2s;
      
      .brand { 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        margin: 0;

        .title {
          font-size: 1.5rem;
          line-height: 1.2rem;
          color: white;
        }

        .subtitle {
          font-size: 0.8rem;
          color: white;
          margin: 0;
          padding: 0;
        }
      }

      .menu-closed {
        align-items: flex-end;
        color: white;

        ul {
          margin: 0;
          height: 100%;
          display: flex;

          li{
            display: flex;
            height: 100%;
            padding: 0 20px;
            margin: 0;
            align-items: center;
    
            a {
              color: white;
              text-decoration: none;
            }

            a:hover {
              color: $link-hover-color;
            }
          }

          li:last-child {
            padding-right: 0;
          }
        }

        @include media-breakpoint-down(md){
          display: none;

          ul {
            background-color: red;
            display: none;
          }
        }
      }

      .nav-toggle {
        align-items: flex-end;
        display: none;

        @include media-breakpoint-down(md){
          display: flex;   
          align-items: center;
          align-self: center;     

          a {
            color: white;
            svg {
              width: 40px;
              fill: white;
            }
          }
        }
      }

      @include media-breakpoint-down(md){
        padding: 0 15px;
      }

      @include media-breakpoint-down(sm){
        padding: 0 10px;
      }

    }
    @include media-breakpoint-down(md){
    }

    &--shrink {
      // background-color: red;
      
      .content {
        // background-color: blueviolet;
        color: purple;
        height: 50px;
        font-size: 0.8rem;

        .brand {
          margin-top: 5px;

          .title {
            // line-height: 5rem;
          }
        }

        
      }
    }
  }

  &.shrink-nav-cont {
    height: 47px;
    background: $black;
    transition: height 0.2s, background 0.2s;
    

    .content {
      transition: font-size 0.2s, height 0.2s;

      .brand {

        .title {
          // transition: line-height 0.2s;
        }
      }


    }
    
    .brand--scrolled {
      transition: width 0.5s;
    }

    nav ul {
      transition: background-color 5s;
    }
  }
}

.mobile-nav-open {
  overflow: hidden;
}
