//button styling

.button {
  background-color: blue;
  display: inline-flex;
  align-items: center;
  background-color: rgb(77, 177, 235);
  font-size: 1.1rem;
  color: white;
  padding: 0 24px;
  font-weight: 600;
  height: 54px;
  text-decoration: none;

  i {
    padding-left: 40px;
  }

  &:hover {
    text-decoration: none;
    color: $white;
    background: rgb(19, 77, 110);
    transition: 0.5s ease;
  }

  &--ghost {
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    box-shadow: none;
    color: rgb(77, 177, 235);

    &:hover {
      background: white;
      color: rgb(19, 77, 110);
      transition: 0.2s ease;
    }
  }

}