---
import LinkButton from "./ui/LinkButton.astro";
---

<section class="w-full flex justify-center">
  <div class="container mt-10 flex items-center flex-col">
    <div class="my-10 flex flex-col items-center space-y-5">
      <h2 class="text-xl text-pink-800 font-semibold border-b-2 border-pink-300">Get in Touch</h2>
      <LinkButton icon="email" newTab={true} id="email" tooltipText="roosvanees@hotmail.com"
        url="mailto:roosvanees@hotmail.com" classes="px-20 py-5 md:px-20 md:py-5" iconClasses="text-4xl text-pink-900"
      />
    </div>
  </div>
</section>