---
import { Icon } from 'astro-icon/components';
---

<section class="w-full flex justify-center">
  <div class="container mt-20 mb-5 flex items-center flex-col">
    <div class="border-2 border-pink-800 rounded-full p-5">
      <Icon name="rose" class="text-7xl text-pink-500" />
    </div>
    
    <div>
      <h1 class="text-5xl text-pink-700 ">Roos van Ees</h1>
      <div class="w-full h-2 bg-pink-600 rounded-lg px-10"> </div>
    </div>
    
    
  </div>
</section>