---
import { Icon } from 'astro-icon/components';
---

<section class="w-full flex justify-center">
  <div class="container mt-20 mb-5 flex items-center flex-col">
    <div class="border-2 border-pink-800 rounded-full p-5">
      <Icon name="rose" class="text-7xl text-pink-500" />
    </div>
    
    <div class="flex items-center justify-center flex-col bg-red-300">
      <h1 class="text-5xl text-pink-700 ">Roos van Ees</h1>
      <div class="text-l md:text-xl text-pink-600 flex flex-wrap justify-center max-w-l space-x-3 bg-green-200 px-10">
        <span class="px-3 border-r-2 border-black">Research </span>
        <span class="px-3 border-r-2 border-black">Documentary </span>
        <span class="px-3 border-r-2 border-black">Photography </span>
        <span class="px-3 border-r-2 border-black">Interviews </span> 
        <span class="px-3 border-r-2 border-black">Collages </span> 
        <span class="px-3 border-r-2 border-black">Essays </span>
        <div class="w-full h-0.5 bg-pink-600 rounded-lg px-10 mt-1"></div>
      <div>
      
    </div>
    
    
  </div>
</section>