---
import { Icon } from 'astro-icon/components';
---

<section>
  <div class="container my-20 flex items-center flex-col">
    <Icon name="rose" class="text-7xl text-pink-500" />
    <h1 class="text-5xl text-pink-700 border-b-4 border-pink-600">Roos van Ees</h1>
  </div>
</section>