---
import LinkButton from "./ui/LinkButton.astro";
---

<section class="w-full flex justify-center">
  <div class="container mt-10 flex items-center flex-col">
    <h2 class="text-3xl text-pink-800 border-b-2 border-pink-300">Social Media</h2>
    <div class="flex space-x-4 my-5">
      <LinkButton icon="instagram" newTab={true} id="instagram" tooltipText="Instagram"
        url="https://www.instagram.com/roosvanees"
      />

      <LinkButton icon="x" newTab={true} id="x" tooltipText="X"
        url="https://twitter.com/roosvanees"
      />
      <LinkButton icon="fb" newTab={true} id="fb" tooltipText="Facebook"
        url="https://www.facebook.com/roosvanees"
      />
      <LinkButton icon="tiktok" newTab={true} id="tiktok" tooltipText="TikTok"
        url="https://www.tiktok.com/@roosvanees"
      />
    </div>
  </div>
</section>