<section>
  <div class="container my-20 flex items-center flex-col">
    <h1 class="text-3xl">Socials</h1>
    <div>
      <div>Instagram</div>
      <div>FaceBook</div>
      <div>X</div>
    </div>
  </div>
</section>