---
import LinkButton from "./ui/LinkButton.astro";
---

<section>
  <div class="container my-20 flex items-center flex-col">
    <h1 class="text-3xl">Social Media</h1>
    <div>
      <LinkButton icon="fb" />
      <LinkButton icon="x" />
      <div>Instagram</div>
      <div>FaceBook</div>
      <div>X</div>
      <div>TikTok</div>
    </div>
    <div class="my-10 flex flex-col items-center">
      <div>Let's talk</div>
      <div>email icon</div>
    </div>
  </div>
</section>